# ----------------------------------------
# .gitignore
#  @Author Koki Nagahama (@hamstick)
# ----------------------------------------

## Ignore buildfile
build/
install/
log/
__pycache__/
